* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cyberpunk {
    background-color: #050a0f;
    color: #5a9e6f;
    /* color: #3a6070; */
    background-image: url(assets/illustration-rain-futuristic-city.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.menu_sobre {
    color: #3a6070;
    position: fixed;
    background-color: #3a6070;
}

.menu_sobre a {
    color: #c3d2d8;

}

h1 {
    color: rgb(63, 114, 114);
}
