* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cyberpunk {
    background-color: #050a0f;
    color: #5a9e6f;
    /* color: #3a6070; */
    background-image: url(assets/illustration-rain-futuristic-city.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.sobre_cyber {
    color: rgb(120, 120, 163);
    padding: 15px;
    text-align: center;
}

.imagens_cyber {
    color: rgb(120, 120, 163);
    padding: 15px;
    text-align: center;
}

h1 {
    
    color: rgb(39, 26, 63);
}

h2 {
    color: rgb(19, 5, 46);
    /* color: rgb(63, 114, 114); */
}

h3 {
    color: rgb(39, 26, 63);
}

p {
    color: rgb(135, 129, 151);
}

.nav_index {
    text-align: center;
    padding: 15px;
    color: rgb(120, 120, 163);
}

.nav_gta {
    padding: 15px;
    text-align: center;
    color: rgb(120, 120, 163);
    
}

.nav_persona {
    color: rgb(120, 120, 163);
    padding: 15px;
}

.nav_rdr2 {
    color: rgb(120, 120, 163);
    padding: 15px;
}

.nav_resident {
    color: rgb(120, 120, 163);
    padding: 15px;
}

.menu_cyberpunk{
    text-align: center;   
}

.menu_paginas {
    text-align: center;
}