*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pagina_gta5{
    background-color: white;
    background-image: url(assets/backgroundgta5img.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.pagina_gta5 h1{
    font-family: Georgia;
    color: rgb(81, 255, 0);
    text-align: center;
    font-size: 40px;
}

.pagina_gta5 h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(0, 255, 0);
    font-size: 35px;
}


.pagina_gta5 p{
    text-align: center;
    width: 70%;
    margin: 20px auto;
    color: white;
    font-size: 18px;
    font-family: verdana;

    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 10px;
}
.menu_paginas{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.pagina_gta5 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 255, 0);
    text-align: center;
    font-size: 40px;
}

.pagina_gta5 h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(14, 235, 14);
    font-size: 35px;

}

.pagina_gta5 p {
    text-align: center;
    width: fit-content;
    margin: 0;
}
.pagina_gta5 {
    background-color: white;
    background-image: url(assets/backgroundgta5img.png);
    scrollbar-width: auto;
    
}

.menu_paginas {
    position: fixed;
    width: 100%;
    background: #B54C70;
    background-color: transparent;
    backdrop-filter: blur(0.5px);
    padding: 15px 0;
    text-align: center;
    background-color: inherit 10;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 25px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 10px 15px;
    border-radius: 5px;

    transition: 0.4s;
}

.casa:hover{
    background: #fa0000bb;
    color: black;

    box-shadow:
        0 0 10px #000000,
        0 0 20px rgba(255, 0, 0, 0.801)
        0 0 40px red;

    transform: scale(1.08);
}
.resident:hover{

    background: rgb(255, 0, 0);
    color: antiquewhite;

    box-shadow:
        0 0 10px #661818,
        0 0 20px #661818,
        0 0 40px #661818;

    transform: scale(1.08);
}
.persona:hover{

    background: #00eeff;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #00eeff,
        0 0 20px #00eeff,
        0 0 40px #00eeff;

    transform: scale(1.08);
}
.read2:hover{

    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #000000,
        0 0 20px #000000,
        0 0 40px #000000;

    transform: scale(1.08);
}
.cyber:hover{

    background: yellow;
    color: black;

    box-shadow:
        0 0 10px #00eeff,
        0 0 20px #00eeff,
        0 0 40px #00eeff;

    transform: scale(1.08);
}
.cyber:hover{

    background: yellow;
    color: black;

    box-shadow:
        0 0 10px #00eeff,
        0 0 20px #00eeff,
        0 0 40px #00eeff;

    transform: scale(1.08);
}
.Jogabilidade{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(3, 255, 3);
    
}
.roda-pe{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-items: center;
    font-display: block;
    border-radius: none;
}