* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-image: url(assets/cavalordr2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: cover; */
}
