* {
    box-sizing: border-box;
}

.persona3r {
    background-image: url(assets/persona3_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    background-attachment: fixed;
    padding: 30px 120px;
    display: block;
    flex-direction: row;
    justify-content: left;
    overflow: visible;
}

.persona3r::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(0.3px);
    z-index: 1;
}
.persona3r > * {
    position: relative;
    z-index: 2;
}

h1{
    color: #00c0fa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 5,px;

}

h2{
    color: #00c0fa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 30px;
}



p{
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

p::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

.menu_paginas{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.menu_paginas {
    position: fixed;
    width: 100%;
    background: #B54C70;
    background-color: transparent;
    backdrop-filter: blur(0.5px);
    padding: 15px 0;
    text-align: center;
    background-color: inherit 10;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 25px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;

    padding: 10px 15px;
    border-radius: 5px;

    transition: 0.4s;
}

.casa:hover:hover{
    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #005c99,
        0 0 20px #005c99,
        0 0 40px #005c99;

    transform: scale(1.08);
}
.resident:hover{

    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #005c99,
        0 0 20px #005c99,
        0 0 40px #005c99;

    transform: scale(1.08);
}
.persona:hover{

    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #00eeff,
        0 0 20px #00eeff,
        0 0 40px #00eeff;

    transform: scale(1.08);
}
.read2:hover{

    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #005c99,
        0 0 20px #005c99,
        0 0 40px #005c99;

    transform: scale(1.08);
}
.cyber:hover{

    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #005c99,
        0 0 20px #005c99,
        0 0 40px #005c99;

    transform: scale(1.08);
}
.gta5:hover{
    background: #00c0fa;
    color: rgb(255, 255, 255);

    box-shadow:
        0 0 10px #005c99,
        0 0 20px #005c99,
        0 0 40px #005c99;

    transform: scale(1.08);
}