.persona3r {
    background-image: url(assets/persona3_background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
    background-attachment: fixed;
    padding: 20px 40px;
    display: flexbox;
    flex-direction: ;
    justify-content: left;
    overflow: ;
}

.persona3r::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(0.3px);
    z-index: 1;
}
.persona3r > * {
    position: relative;
    z-index: 2;
}

h1{
    color: rgb(48, 255, 76);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: ;

}
h2{
    color: rgb(48, 255, 76);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
}
p{
    color: aliceblue;
    
}