.rerequiem {
    background-image: url();
    background-repeat: no-repeat;
    background-image: url(assets/grace.jpg);
    background-size: cover;
    
}

h1 {
    color: rgb(255, 233, 224);
}

p{
    color: aliceblue;
}